<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse flex-md-row">
            <div class="col-12 col-md-auto mt-3 mt-md-0">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><a href="#" class="link-secondary">About</a></li>
                    <li class="list-inline-item"><a href="#" class="link-secondary">GitHub</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-auto ms-md-auto">
                <span class="text-muted small">Questlog &mdash; built while learning Django</span>
            </div>
        </div>
    </div>
</footer>